version: '3.3'

services:
  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin  
      MINIO_ROOT_PASSWORD: admin123
    command: server /data --console-address ":9001"